<!-- <button mat-raised-button>Okay thanks</button>

<mat-paginator [pageSizeOption]="[5,10] "></mat-paginator> -->


<!-- <table mat-table [dataSource]="list" class="mat-elevation-z8">

    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef> Id. </th>
      <td mat-cell *matCellDef="let ls"> {{ls.id}} </td>
    </ng-container>
  
  
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table> -->
  <button mat-button [matMenuTriggerFor]="Twitter"> Twitter  </button>

<mat-menu #Twitter="matMenu">
    <button mat-menu-item [matMenuTriggerFor]="Login">Login/Signup</button>
    <button mat-menu-item >User</button>
</mat-menu>

<mat-menu #Login="matMenu">
  <button mat-menu-item>Login</button>
  <button mat-menu-item>Signup</button>
</mat-menu>






  <div style="margin:1% 0 0 2%">
  <mat-form-field>
      <input (keyup)="applyfilter($event.target.value)"  matInput placeholder="filter">
  </mat-form-field>
</div>
<div class="mat-elevation-z8">
  <table mat-table [dataSource]="dataSource" matSort >

  
    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Id</th>
      <td mat-cell *matCellDef="let element"> {{element.id}} </td>
    </ng-container>
  
    <!-- Name Column -->
    <ng-container matColumnDef="source">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Title </th>
      <td mat-cell *matCellDef="let element"> {{element.source}} </td>
    </ng-container>
  
  
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
  <mat-paginator [pageSizeOptions]="[4,8]"></mat-paginator>
  
  
</div>