.con{
    text-align: center;
    position: relative;
    left: 35%;
    margin-top: 20%;
    font-size: 25px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    }
    
table{
    width:100%;
}